__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/instance/
.webassets-cache
*.sqlt
.idea/
.vscode/
flask_session/
user_files/
*.log
*.db
config.json
.gitlab-ci.yml
Dockerfile
